*{
    margin:0.5px;
    padding: 0px;
  }
  li{
    list-style-type: none;
  }
  a{
    border: 1px solid rgba(245, 245, 247, 0.904);
    font-family: "Alegreya", serif !important;
    font-size: larger;
    padding:6px 10px;
    text-decoration: none;
    color:rgb(0,0,0);
    margin-top: 10px;
  }
  a:nth-child(even){
    background-color:rgba(216, 206, 206, 0.905);
  }
  a:nth-child(odd){
    background-color:rgb(255,255,255);
  }
  