<div class="container" id="example">
    <h3 class="heading">Test Result Registration Form</h3>
    <img class="trimage" src="assets\picture.jpeg" alt="Image Not Found" width="400" height="250">
    <form [formGroup]="testresultForm" (ngSubmit)="regTestResult()">
        <div class="form-group">
            <label for="testName">Test Name:</label>
            <input type="text" class="form-control" id="testName" placeholder="Enter Test Name"
                formControlName="testName">
            <span class="badge badge-warning" *ngIf="testresultForm.controls['testName']?.invalid 
                &&  testresultForm.controls['testName']?.touched">Invalid Name</span>
        </div>
        <div class="form-group">
            <label for="testReading">Test Reading:</label>
            <input type="text" class="form-control" id="testReading" placeholder="Enter Test Reading"
                formControlName="testReading">
            <span class="badge badge-warning" *ngIf="testresultForm.controls['testReading']?.invalid 
                &&  testresultForm.controls['testReading']?.touched">Invalid test Reading</span>
        </div>
        <div class="form-group">
            <label for="testcondition">Test Condition:</label>
            <input type="text" class="form-control" id="testcondition" placeholder="Enter Test Condition"
                formControlName="testcondition">
            <!-- <span class="badge badge-warning" *ngIf="testcondition?.touched && testcondition?.invalid">Invalid Name</span> -->
            <span class="badge badge-warning" *ngIf="testresultForm.controls['testcondition']?.invalid 
                &&  testresultForm.controls['testcondition']?.touched">Invalid Condition</span>
        </div>
        <button type="submit" class="btn-style">Register</button>
    </form>
</div>