<div
  class="animate__animated animate__fadeInDown animate__fast user-select-none"
>
  <div class="jumbotron jumbotron-fluid m-5 shadow">
    <div class="container">
      <h1 class="display-4">Our Vision</h1>
      <p class="lead">Meeku Edina Quote nachitey ikkada pedadam</p>
      <a
        class="btn btn-info btn-lg"
        href="https://en.wikipedia.org/wiki/Health_care"
        target="_blank"
        role="button"
        >Learn more</a
      >
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 p-4">
        <img src="../../../assets/eg.png" class="img-fluid p-2" />
        <h2 class="text-center p-2">
          <i> We offer a wide range of services</i>
        </h2>
      </div>
      <div class="col-lg-6 p-4">
        <img src="../../../assets/heart.png" class="img-fluid p-2" />
        <h2 class="text-center p-2">
          <i> We offer a wide range of services</i>
        </h2>
      </div>
      <div class="col-lg-6 p-4">
        <img src="../../../assets/mri.png" class="img-fluid p-2" />
        <h2 class="text-center p-2">
          <i> We offer a wide range of services</i>
        </h2>
      </div>
      <div class="col-lg-6 p-4">
        <img src="../../../assets/xray.png" class="img-fluid p-2" />
        <h2 class="text-center p-2">
          <i> We offer a wide range of services</i>
        </h2>
      </div>
    </div>
    <div class="conatiner p-5"></div>
  </div>

  <div class="container-fluid w-100 footerbg mb-2 shadow">
    <div class="row">
      <div class="col-12 mb-4">
        <h2 class="text-center">Our Wonderful Team</h2>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 align-self-center">
        <h1 class="text-center">
          <a
            href="https://github.com/harinvb"
            target="_blank"
            class="bi bi-github text-dark"
            data-toggle="tooltip"
            title="External Link To hari's Github"
          ></a>
        </h1>
        <div class="text-center p-3">Nalluri Hari Babu</div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 align-self-center">
        <h1 class="text-center">
          <a
            href="https://github.com/thenameispavan"
            target="_blank"
            class="bi bi-github text-dark"
            data-toggle="tooltip"
            title="External Link To pavan's Github"
          ></a>
        </h1>
        <div class="text-center p-3">Pavan</div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 align-self-center">
        <h1 class="text-center">
          <a
            href="https://github.com/ManneRohit-prog"
            target="_blank"
            class="bi bi-github text-dark"
            data-toggle="tooltip"
            title="External Link To rohit's Github"
          ></a>
        </h1>
        <div class="text-center p-3">Rohit</div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 align-self-center">
        <h1 class="text-center">
          <a
            href="https://github.com/Anilmuthyala1999"
            target="_blank"
            class="bi bi-github text-dark"
            data-toggle="tooltip"
            title="External Link To anil's Github"
          ></a>
        </h1>
        <div class="text-center p-3">Anil</div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 align-self-center">
        <h1 class="text-center">
          <a
            href="https://github.com/Bhavana1919"
            target="_blank"
            class="bi bi-github text-dark"
            data-toggle="tooltip"
            title="External Link To bhavana's Github"
          ></a>
        </h1>
        <div class="text-center p-3">Bhavana</div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 align-self-center">
        <h1 class="text-center">
          <a
            href="https://github.com/Karthik1-hub"
            target="_blank"
            class="bi bi-github text-dark"
            data-toggle="tooltip"
            title="External Link To karthik's Github"
          ></a>
        </h1>
        <div class="text-center p-3">K.S.S. Karthik</div>
      </div>
    </div>
  </div>
</div>
