<div class="container animate__animated animate__fadeInDown animate__fast">
  <div class="row justify-content-center">
    <div class="col-lg-6 p-4">
      <img src="../../../assets/eg.png" class="img-fluid p-2" />
      <h2 class="text-center p-2"><i> We offer a wide range of services</i></h2>
    </div>
    <div class="col-lg-6 p-4">
      <img src="../../../assets/heart.png" class="img-fluid p-2" />
      <h2 class="text-center p-2"><i> We offer a wide range of services</i></h2>
    </div>
    <div class="col-lg-6 p-4">
      <img src="../../../assets/mri.png" class="img-fluid p-2" />
      <h2 class="text-center p-2"><i> We offer a wide range of services</i></h2>
    </div>
    <div class="col-lg-6 p-4">
      <img src="../../../assets/xray.png" class="img-fluid p-2" />
      <h2 class="text-center p-2"><i> We offer a wide range of services</i></h2>
    </div>
  </div>
</div>

<div class="container"></div>
