<div class="container justify-content-center" *ngIf="!updateReq">
  <button class="btn btn-primary mt-5" (click)="updateReq = true">
    Add User
  </button>
  <table class="table m-5">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Password</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td class="p-3">{{ user.username }}</td>
        <td class="p-3">{{ user.password }}</td>
        <td class="p-3">{{ user.role }}</td>
        <td>
          <button class="btn-sm btn-info mr-2" (click)="update(i)">
            Update
          </button>
          <button
            class="btn-sm btn-danger ml-2"
            (click)="deleteUser(user.userid)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-UserRegistrarion
  *ngIf="updateReq"
  [user]="presentUser"
  (changeEvent)="childEvent($event)"
></app-UserRegistrarion>
