<div
  class="container animate__animated animate__fadeInDown"
  *ngIf="!hasAppointments"
>
  <h1 class="text-muted text-center">You Have No Appointments</h1>
</div>
<div
  class="container mt-5 animate__animated animate__fadeInDown"
  *ngIf="hasAppointments"
>
  <div
    class="card mb-5 rounded border shadow-sm"
    *ngFor="let i of appointments"
  >
    <div
      class="card-header"
      [ngClass]="{
        'bg-success': check(i.approvalStatus) == 2,
        'bg-warning': check(i.approvalStatus) == 0
      }"
    >
      {{ i.appointmentDate }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ statusPipe(i.approvalStatus) }}</h5>
      <p class="card-text"></p>
    </div>

    <div class="card-columns mb-3" *ngIf="i.diagnosticCenter != null">
      <div class="col">Diagnostic Center : {{ i.diagnosticCenter.name }}</div>
      <div class="col">Email : {{ i.diagnosticCenter.contactEmail }}</div>
      <div class="col">
        Contact No: &nbsp;+91 {{ i.diagnosticCenter.contactNo }}
      </div>
      <div class="col">Address : {{ i.diagnosticCenter.address }}</div>
    </div>

    <div
      class="card-footer"
      *ngIf="i.diagnosticTests != null && i.diagnosticTests.length > 0"
    >
      <h5 class="card-title">Tests Opted For :</h5>
      <div class="row" *ngFor="let dt of i.diagnosticTests; let in = index">
        <div class="col-3">Test Name :{{ dt.testName }}</div>
        <div class="col-3">units: {{ dt.units }}</div>
        <div class="col-3">Normal Value : {{ dt.normalValue }}</div>
        <div class="col-3">Test Price : {{ dt.testPrice }}</div>
      </div>
    </div>
    <div
      class="card-body"
      *ngIf="check(i.approvalStatus) == 2 && i.testResult.length > 0"
    >
      <h5 class="card-title">Tests Results :</h5>
      <div class="row" *ngFor="let tr of i.testResult">
        <div class="col-4">{{ tr.testName }}</div>
        <div class="col-4">Reading : {{ tr.testReading }}</div>
        <div class="col-4">Condition : {{ tr.testcondition }}</div>
      </div>
    </div>
  </div>
</div>
