<div class="container mt-5" *ngIf="hasAppointments; else noapps">
  <div
    class="card mb-5 rounded border shadow-sm"
    *ngFor="let i of appointments"
  >
    <div
      class="card-header"
      [ngClass]="{
        'bg-success': check(i.approvalStatus) == 2,
        'bg-warning': check(i.approvalStatus) == 0
      }"
    >
      {{ i.appointmentDate }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ statusPipe(i.approvalStatus) }}</h5>
      <p class="card-text"></p>
    </div>

    <div class="card-columns mb-3" *ngIf="i.diagnosticCenter != null">
      <div class="col">Diagnostic Center : {{ i.diagnosticCenter.name }}</div>
      <div class="col">Email : {{ i.diagnosticCenter.contactEmail }}</div>
      <div class="col">
        Contact No: &nbsp;+91 {{ i.diagnosticCenter.contactNo }}
      </div>
      <div class="col">Address : {{ i.diagnosticCenter.address }}</div>
    </div>
    <div
      class="card-footer"
      *ngIf="i.diagnosticTests != null && i.diagnosticTests.length > 0"
    >
      <h5 class="card-title">Tests Opted For :</h5>
      <div class="card-text" *ngFor="let dt of i.diagnosticTests">
        {{ dt.testName }}
      </div>
    </div>
  </div>
</div>

<ng-template #noapps>
  <div class="container">
    <h1 class="text-muted text-center">You Have No Appointments</h1>
  </div>
</ng-template>
