<nav
  class="navbar navbar-expand-xl rounded border shadow-sm animate__animated animate__fadeIn"
  (window:beforeunload)="logout()"
>
  <a class="navbar-brand">
    <h4 class="text-dark user-select-none">Health Care System</h4>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
  >
    <i class="bi bi-list"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          role="button"
          class="nav-link text-dark user-select-none"
          *ngIf="loggerRole == 'user'"
          routerLink="home"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          role="button"
          class="nav-link text-dark user-select-none"
          *ngIf="loggerRole == 'user'"
          (click)="appointment()"
          >Book an Appointment</a
        >
      </li>

      <li class="nav-item">
        <a
          role="button"
          class="nav-link text-dark user-select-none"
          *ngIf="loggerRole == 'user' && loginStatus"
          routerLink="appointment/viewappointment"
          routerLinkActive="active"
          >View My Appointments</a
        >
      </li>
      <li class="nav-item">
        <a
          role="button"
          class="nav-link text-dark user-select-none"
          *ngIf="loggerRole == 'user' && loginStatus"
          routerLink="patient"
          routerLinkActive="active"
          >Edit Patient Profile</a
        >
      </li>
      <li class="nav-item">
        <a
          role="button"
          class="nav-link text-dark user-select-none"
          *ngIf="loggerRole == 'ADMIN'"
          routerLink="appointment/verifyappointment"
          >Verify Appointments</a
        >
      </li>
      <li class="nav-item">
        <a
          role="button"
          class="nav-link text-dark user-select-none"
          *ngIf="loggerRole == 'ADMIN'"
          routerLink="appointment/updateappointments"
          >Update Appointments</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark user-select-none"
          role="button"
          tabindex="-1"
          *ngIf="loggerRole == 'ADMIN'"
          routerLink="diagnosticcenter"
        >
          Diagnostic Center</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark user-select-none"
          role="button"
          tabindex="-1"
          *ngIf="loggerRole == 'ADMIN'"
          routerLink="diagnostictest"
        >
          Diagnostic Test</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark user-select-none"
          role="button"
          tabindex="-1"
          *ngIf="loggerRole == 'ADMIN'"
          routerLink="testresult"
        >
          Test Result</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark user-select-none"
          role="button"
          tabindex="-1"
          *ngIf="loggerRole == 'ADMIN'"
          routerLink="user"
          >Register Another Admin</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-dark user-select-none"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
        >
          Help
        </a>
        <div class="dropdown-menu mb-2">
          <a
            role="button"
            class="dropdown-item text-dark user-select-none"
            href="callto:7981576335"
            >Call</a
          >
          <a
            role="button"
            class="dropdown-item text-dark user-select-none"
            href="mailto:harinvb@gmail.com"
            target="_blank"
            >Email</a
          >
        </div>
      </li>
    </ul>

    <button class="btn btn-info mr-2" *ngIf="!loginStatus" routerLink="user">
      Sign Up
    </button>
    <button
      class="btn btn-success"
      *ngIf="!loginStatus"
      routerLink="login"
      routerLinkActive="active"
    >
      Sign In
    </button>
    <button class="btn btn-danger" *ngIf="loginStatus" (click)="logout()">
      Sign Out
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
