<nav
  class="navbar navbar-expand-xl rounded border shadow animate__animated animate__fadeInDown animate__fast"
>
  <a class="navbar-brand ml-2">
    <h4 class="text-dark user-select-none">Health Care System</h4>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
  >
    <i class="bi bi-list"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-2">
        <a
          role="button"
          class="nav-link text-dark user-select-none ml-2"
          *ngIf="loggerRole == 'user'"
          routerLink="home"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item ml-2">
        <a
          role="button"
          class="nav-link text-dark user-select-none"
          *ngIf="loggerRole == 'user'"
          >Book Appointment</a
        >
      </li>

      <li class="nav-item ml-2">
        <a
          role="button"
          class="nav-link text-dark user-select-none"
          *ngIf="loggerRole == 'admin'"
          >Verify Appointments</a
        >
      </li>

      <li class="nav-item ml-2">
        <a
          class="nav-link text-dark user-select-none"
          role="button"
          tabindex="-1"
          *ngIf="loggerRole == 'admin'"
          >Patient Details</a
        >
      </li>
      <li class="nav-item ml-2">
        <a
          class="nav-link text-dark user-select-none"
          role="button"
          tabindex="-1"
          *ngIf="loggerRole == 'admin'"
          >Diagnostic Center</a
        >
      </li>
      <li class="nav-item ml-2">
        <a
          class="nav-link text-dark user-select-none"
          role="button"
          tabindex="-1"
          *ngIf="loggerRole == 'admin'"
          >Diagnostic Test</a
        >
      </li>
      <li class="nav-item ml-2">
        <a
          class="nav-link text-dark user-select-none"
          role="button"
          tabindex="-1"
          *ngIf="loggerRole == 'admin'"
          >Test Result</a
        >
      </li>
      <li class="nav-item dropdown ml-2">
        <a
          class="nav-link dropdown-toggle text-dark user-select-none"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
        >
          Help
        </a>
        <div class="dropdown-menu mb-2">
          <a role="button" class="dropdown-item text-dark user-select-none"
            >Call</a
          >
          <a role="button" class="dropdown-item text-dark user-select-none"
            >Email</a
          >
          <div class="dropdown-divider"></div>
          <a role="button" class="dropdown-item text-dark user-select-none"
            >About Us</a
          >
        </div>
      </li>
    </ul>
    <button class="btn btn-info ml-2" *ngIf="!loginStatus">Sign Up</button>
    <button
      class="btn btn-success ml-2"
      *ngIf="!loginStatus"
      routerLink="login"
      routerLinkActive="active"
    >
      Sign In
    </button>
    <button class="btn btn-danger ml-2" *ngIf="loginStatus" (click)="logout()">
      Sign Out
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
