<div class="container">
    <hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="background-color: goldenrod;float: center;">
        <div class="container" align="center">
          <a [routerLink]="['/diagnosticCenter/all']">
        <img class="card-img-top" src="assets/Data report-pana.png" alt="Card image cap" style="width: 400px; float: center;" align="Center"></a></div>
        <div class="card-body" style="float: center;">
          <h2 class="card-title text-white"><a class="text-white" [routerLink]="['/diagnosticCenter/all']">View Your Diagnostic Centers</a></h2>
          <p class="card-text">Instantly View/Update/Delete your Diagnostic Center(s).<br>
        Hurry up! Register your Center.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="background-color:cornflowerblue;float: center;">
        <div class="container" align="center">
          <a routerLink="/diagnosticCenter/add">
        <img class="card-img-top" src="assets/Add files-rafiki.png" alt="Card image cap" style="width: 400px; float: center;" align="Center"></a></div>
        <div class="card-body" style="float: center;">
            
          <h2 class="card-title text-white"><a class="text-white" routerLink="/diagnosticCenter/add">Add new Diagnostic Center!</a></h2>
          <p class="card-text">Let the people get to know of your identity.<br>
              Add you Center to our Website</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="container">
    <div class="card" style="background-color:rgb(237, 127, 100);float: center;">
        <div class="card-body">
          
        <div class="container" align="Center">
          <div class="container" align="right">
            <img class="card-img" src="assets/Medicine-pana.png" style="width: 400px;"></div>
          <div class="top-left">
            <br><br><br><br><br>
            <h1 class="text-white">Get treated by the Best Doctors!</h1>
            <p style="float: left;">You can get the best Diagnostic facilities around.</p>
          </div>
        </div>
        </div>
    </div>
</div>
