<div
  class="container justify-content-center mt-5 mycol"
  *ngIf="!update && patient != null"
>
  <div class="row justify-content-center text-center">
    <img src="assets/user.png" class="img-fluid" />
  </div>
  <table class="table">
    <tr>
      <th class="text-left">Patient Name :</th>
      <th>{{ patient.name }}</th>
    </tr>
    <tr>
      <th class="text-left">Age :</th>
      <th>{{ patient.age }}</th>
    </tr>
    <tr>
      <th class="text-left">Phone No :</th>
      <th>{{ patient.phoneNo }}</th>
    </tr>
    <tr>
      <th class="text-left">Gender :</th>
      <th>{{ patient.gender }}</th>
    </tr>
  </table>
  <button
    class="btn btn-primary mt-5 mb-3 align-self-center"
    (click)="updateDetails()"
  >
    Update Details
  </button>
</div>

<div *ngIf="update">
  <app-Update [patient]="patient"></app-Update>
</div>
