<div
  class="container-fluid mt-2 justify-content-center animate__animated animate__fadeIn"
>
  <form class="form-inline" [formGroup]="testAddForm" (ngSubmit)="submit()">
    <input
      type="text"
      class="form-control m-2"
      id="testname"
      placeholder="Name Of Test"
      formControlName="testName"
    />
    <div class="input-group m-2">
      <input
        type="number"
        class="form-control"
        id="testReading"
        placeholder="Reading ex:23.35"
        formControlName="testReading"
      />
    </div>
    <select formControlName="testcondition" class="form-control m-2">
      <option value="null" selected disabled>Choose Condition</option>
      <option value="critical">Critical</option>
      <option value="Normal">Normal</option>
      <option value="Managable">Managable</option>
      <option value="Abnormal">Abnormal</option>
    </select>
    <button
      type="submit"
      class="btn btn-primary m-2"
      [disabled]="testAddForm.invalid"
    >
      Add Result
    </button>
  </form>
</div>
